In [1]:
import pandas as pd
import pymysql
from datetime import datetime
from datetime import timedelta
import re

!jupyter nbconvert --to python Analyzer.ipynb

In [20]:
class MarketDB :
    def __init__(self):
        """생성자: MariaDB 연결 및 종목코드 딕셔너리 생성"""
        self.conn = pymysql.connect(host='localhost', user='root',
            password='qor100', db='INVESTAR', charset='utf8')
        self.codes = {}
        self.update_comp_info()
                            
    def __del__(self):
        """소멸자: MariaDB 연결 해제"""
        self.conn.close() 
        
    def update_comp_info(self):
        """종목코드를 company_info 테이블에 업데이트 한 후 딕셔너리에 저장"""
        sql = "SELECT * FROM company_info"
        df = pd.read_sql(sql, self.conn)
        for idx in range(len(df)):
            self.codes[df['code'].values[idx]] = df['company'].values[idx]
                    
    def get_daily_price(self, code, start_date=None, end_date=None):
        """시작 날짜 입력 내용"""
        if start_date is None:
            one_year_ago = datetime.today() - timedelta(days=365)
            start_date = one_year_ago.strftime('%Y-%m-%d')
            print("시작일을 입력하지 않아 작년부터 시작합니다. '{}'".format(start_date))
        else :
            start_lst = re.split('\D+', start_date) # 년, 월, 일 나눠서 리스트로 출력
#             if (start_lst[0] == ''):
#                 start_lst = start_lst[1:]
            start_year = int(start_lst[0])
            start_month = int(start_lst[1])
            start_day = int(start_lst[2])
                
            if start_year < 1900 or start_year > 2200:
                print(f'({start_year:d}) 2017년도 부터 입력 가능합니다.')
                return
            if start_month < 1 or start_month > 12:
                print(f'({start_month:d}) 1~12월까지만 입력이 가능합니다.')
                return
            if start_day < 1 or start_day > 31 :
                print(f'({start_day:d}) 1~31일까지만 입력이 가능합니다.')
                return
            start_date=f"{start_year:04d}-{start_month:02d}-{start_day:02d}"
                
        if (end_date is None):
                end_date = datetime.today().strftime('%Y-%m-%d')
                print("마지막 일을 입력하지 않아 오늘 날짜로 시작합니다. '{}'".format(end_date))
        else :
                
            end_lst = re.split('\D+', end_date)
#             if (end_lst[0] == ''):
#                 end_lst = end_lst[1:]
            end_year = int(end_lst[0])
            end_month = int(end_lst[1])
            end_day = int(end_lst[2])
            
            if end_year < 1900 or end_year > 2200:
                print(f'({end_year:d}) 2021년도 이전만 가능합니다.')
                return
            if end_month < 1 or end_month > 12:
                print(f'({end_month:d}) 1~12월까지만 입력이 가능합니다.')
                return
            if end_day < 1 or end_day > 31 :
                print(f'({end_day:d}) 1~31일까지만 입력이 가능합니다.')
                return
            end_date=f"{end_year:04d}-{end_month:02d}-{end_day:02d}"        
        
        codes_keys = list(self.codes.keys())
        codes_values = list(self.codes.values())
        if code in codes_keys:
            pass
        elif code in codes_values:
            idx = codes_values.index(code)
            code = codes_keys[idx]
        else :
            print("({}) 이 코드 및 회사명은 존재하지 않습니다.".format(code))

        sql = f"SELECT * FROM daily_price WHERE (code = '{code}' and date >= '{start_date}' and date <= '{end_date}')"
        df = pd.read_sql(sql, self.conn)
        df.index = df['date']
        return df

In [3]:
!jupyter nbconvert --to python MarketDB.ipynb

[NbConvertApp] Converting notebook MarketDB.ipynb to python
[NbConvertApp] Writing 3711 bytes to MarketDB.py

In [22]:
mk = MarketDB()
mk.get_daily_price('삼성전자')

시작일을 입력하지 않아 작년부터 시작합니다. '2020-06-22'
마지막 일을 입력하지 않아 오늘 날짜로 시작합니다. '2021-06-22'

              code        date   open   high    low  close  diff    volume
date
2020-06-22  005930  2020-06-22  52000  52600  51800  52000   900  13801350
2020-06-23  005930  2020-06-23  52500  52800  51100  51400   600  18086152
2020-06-24  005930  2020-06-24  51900  53900  51600  52900  1500  24519552
2020-06-25  005930  2020-06-25  52100  53000  51900  51900  1000  18541624
2020-06-26  005930  2020-06-26  52800  53900  52200  53300  1400  21575360
...            ...         ...    ...    ...    ...    ...   ...       ...
2021-06-14  005930  2021-06-14  80800  80900  80500  80500   500  10550078
2021-06-15  005930  2021-06-15  80900  81200  80600  80900   400  10075685
2021-06-16  005930  2021-06-16  81500  81900  81100  81800   900  14999855
2021-06-17  005930  2021-06-17  81100  81300  80700  80900   900  14007385
2021-06-18  005930  2021-06-18  81100  81100  80500  80500   400  14618173

[247 rows x 8 columns]

In [4]:
a[0]

'2020'

In [15]:
if (a[0] == ''):
    print("rnfk")
    
elif (a[0] == "2020"):
    print("dfe")

dfe

In [10]:
a[0]

'2020'