In [6]:
a=[1, 2, 3, 4, 5]
type(a)

list

In [7]:
a[4]

5

In [8]:
a[5]

IndexError: list index out of range

In [9]:
a[-1]

5

In [10]:
a[3]

4

In [11]:
a[3]= 8
print(a)

[1, 2, 3, 8, 5]

In [12]:
b=(1, 2, 3, 4, 5)
type(b)

tuple

In [15]:
b[3]

4

In [16]:
b[4]

5

In [17]:
b[-1]

5

In [18]:
b[3]=8

TypeError: 'tuple' object does not support item assignment

In [19]:
a

[1, 2, 3, 8, 5]

In [20]:
a.append(6)
a

[1, 2, 3, 8, 5, 6]

In [21]:
a.append([7, 8])
a

[1, 2, 3, 8, 5, 6, [7, 8]]

In [22]:
c=[9, 10]
a.extend(c)

In [23]:
a

[1, 2, 3, 8, 5, 6, [7, 8], 9, 10]

In [24]:
d=[11, 12]

In [25]:
a+d

[1, 2, 3, 8, 5, 6, [7, 8], 9, 10, 11, 12]

In [26]:
a

[1, 2, 3, 8, 5, 6, [7, 8], 9, 10]

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [34]:
list(range(0, 11, 3))

[0, 3, 6, 9]

In [35]:
list(range(-10, 10, 2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [36]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [37]:
range(10)

range(0, 10)

In [38]:
# 슬라이스

In [41]:
a=list(range(1, 10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
a[2:5]

[3, 4, 5]

In [46]:
a

[1, 2, 5, 6, 7, 8, 9]

In [47]:
2 in a

True

In [48]:
6 in a

True

In [49]:
13 in a

False

In [50]:
"사과" *3

'사과사과사과'

In [51]:
[1, 2, 3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [53]:
apple = "사과" *3
apple

'사과사과사과'

In [54]:
apple[3]

'과'

In [55]:
banana = "바나나"
apple + banana

'사과사과사과바나나'

In [57]:
len(banana)

3

In [58]:
a

[1, 2, 5, 6, 7, 8, 9]

In [59]:
a.pop()

9

In [60]:
a

[1, 2, 5, 6, 7, 8]

In [61]:
a.pop(1)

2

In [62]:
a

[1, 5, 6, 7, 8]

In [63]:
del a[1]
a

[1, 6, 7, 8]

In [64]:
a.remove(8)
a

[1, 6, 7]

In [72]:
list(range(2,10, 2))

[2, 4, 6, 8]

In [98]:
num = int(input("숫자를 입력해주세요"))
list_number = list(range(2, num+1, 2))
list_number.append(num)
print(list_number)

숫자를 입력해주세요20
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [105]:
score={"name":"tom", "math":70, "english":80}
type(score)

dict

In [106]:
score["name"] = "Michale"
score

{'name': 'Michale', 'math': 70, 'english': 80}

In [107]:
score2=dict(name="Michale", math=30, english=100)
score

{'name': 'Michale', 'math': 70, 'english': 80}

In [108]:
"math" in score

True

In [109]:
"age" in score

False

In [110]:
len(score)

3

In [111]:
len(score2)

3

In [112]:
score['age'] = 20
score

{'name': 'Michale', 'math': 70, 'english': 80, 'age': 20}

In [113]:
score["math"] = 90

In [114]:
score

{'name': 'Michale', 'math': 90, 'english': 80, 'age': 20}

In [115]:
score.pop("name")

'Michale'

In [116]:
score

{'math': 90, 'english': 80, 'age': 20}

In [117]:
score.pop('korean', -1)

-1

In [118]:
score

{'math': 90, 'english': 80, 'age': 20}

In [120]:
list(score.keys())[0:2]

['math', 'english']

In [122]:
list(score.values())[0]

90

In [126]:
list(score.items())[0][0]

'math'

In [127]:
score

{'math': 90, 'english': 80, 'age': 20}

In [128]:
# 실습(1)
name = str(input("이름을 입력해주세요."))
age = int(input("나이를 입력해주세요."))
phone = str(input("연락처를 입력해주세요."))
information = dict(이름 = name, 나이 = age, 연락처 = phone)
print(information)

이름을 입력해주세요.홍길동
나이를 입력해주세요.27
연락처를 입력해주세요.010-1234-1234
{'이름': '홍길동', '나이': 27, '연락처': '010-1234-1234'}

In [151]:
name1 = str(input("이름을 입력해주세요."))
age1 = int(input("나이를 입력해주세요."))
phone1 = str(input("연락처를 입력해주세요."))
human1 = dict(이름 = name, 나이 = age, 연락처 = phone)
# ---------------------------------------------------
name2 = str(input("이름을 입력해주세요."))
age2 = int(input("나이를 입력해주세요."))
phone2 = str(input("연락처를 입력해주세요."))
human2 = dict(이름 = name, 나이 = age, 연락처 = phone)
# ----------------------------------------------------
information = []
information.append(human1)
information.append(human2)
print(information)

이름을 입력해주세요.dj
나이를 입력해주세요.3
연락처를 입력해주세요.djf
이름을 입력해주세요.er
나이를 입력해주세요.356
연락처를 입력해주세요.kfo
[{'이름': '홍길동', '나이': 27, '연락처': '010-1234-1234'}, {'이름': '홍길동', '나이': 27, '연락처': '010-1234-1234'}]

In [175]:
# ---------------------------------------------------------------
name1, name2 = str(input("이름을 입력해주세요.")).split()
age1, age2 = int(input("나이를 입력해주세요.")).split()
phone1, phone2 = str(input("연락처를 입력해주세요")).split()
"""human1={"이름":name1, "나이"=age1, "번호"=phone1}
human2={"이름":name2, "나이"=age2, "번호"=phone2}
information=[]
information.append(human1)
information.append(human2)
print(information)"""
print(name1)

이름을 입력해주세요.d d
나이를 입력해주세요.12 45

ValueError: invalid literal for int() with base 10: '12 45'

In [176]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
a.append(1)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 1]

In [158]:
c=set(a)
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [159]:
c[0]

TypeError: 'set' object is not subscriptable

In [163]:
animal = {"dog", "cat", "donkey", "tiger"}
type(animal)
animal

{'cat', 'dog', 'donkey', 'tiger'}

In [165]:
a = set("abangers")
a

{'a', 'b', 'e', 'g', 'n', 'r', 's'}

In [168]:
animal.remove("tiger")
animal

KeyError: 'tiger'

In [177]:
cafe={"coffee", "tea", "wine", "water"}
type(cafe)

set

In [178]:
"coffee" in cafe

True

In [179]:
"cocoa" in cafe

False

In [180]:
a = set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [181]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [182]:
a={1, 2, 3}
b={3, 4, 5}
a|b

{1, 2, 3, 4, 5}

In [183]:
set.union(a,b)

{1, 2, 3, 4, 5}

In [184]:
a&b

{3}

In [185]:
set.intersection(a,b)

{3}

In [186]:
a-b

{1, 2}

In [187]:
set.difference(a,b)

{1, 2}

In [188]:
a^b

{1, 2, 4, 5}

In [190]:
set.symmetric_difference(a,b)

{1, 2, 4, 5}

In [191]:
a={1, 2, 3, 4}
a <= {1, 2, 3, 4, 5}

True

In [202]:
x = int(input("숫자"))
#x=10
if x==10:
    print("x는 10입니다.")
else :
    print("10을 입력해주세요.")
print("완료")

숫자4
10을 입력해주세요.
완료

In [208]:
x= 10
#    print("x는 10")
if x==10:
    print("x는 10입니다.")
    print("x는 12가 아닙니다.")
#      print("x가 10입니다.")
#  print("x가 10입니다")
print("if 바깥")

x는 10입니다.
x는 12가 아닙니다.
if 바깥

In [212]:
x=str(input("알파벳"))
if x=="A":
    print("x는 A")
elif x=="B":
    print("x는 B")
elif x=="C":
    print("x는 C")
else:
    print("x는 A, B, C가 아님")

알파벳E
x는 A, B, C가 아님

In [216]:
x=str(input("알파벳"))
if x=="A":
    print("x는 A")
if x=="B":
    print("x는 B")
if x=="C":
    print("x는 C")
else:
    print("x는 C가 아님")

알파벳B
x는 B
x는 C가 아님

In [217]:
age = 20
gender = "F"
if 20 <= age < 40:
    if gender=="M":
        print("hobby")
    elif gender=="F" and marrige =="unmarrige":
        print("trip")
    else
        print("info")
elif 40<=age<60:
    print("education")    
elif 60<=age:
    pass
else :
    print("해당사항이 없습니다.")

SyntaxError: invalid syntax (<ipython-input-217-4acd69f5c326>, line 8)

In [233]:
score1=int(input("점수를 입력해 주세요"))
score2=int(input("점수를 입력해 주세요"))
score3=int(input("점수를 입력해 주세요"))

if 65<= score1<=100 and 65<= score2<=100 and 65<= score3<=100:
    print("합격")
elif score1 > 100 or score2 > 100 or score3 > 100:
    print("잘못된 점수가 입력되었습니다.")
elif score1 < 65 and score2 < 65 and score3 < 65:
    print("불합격")
elif score1 > 100 or score2 > 100 or score3 > 100:
    print("잘못된 점수가 입력되었습니다.")

120
80
90
잘못된 점수가 입력되었습니다.

In [7]:
score1 = int(input("점수를 입력해주세요"))
score2 = int(input("점수를 입력해주세요"))
score3 = int(input("점수를 입력해주세요"))

if score1 >= 65 and score2 >=65 and score3 >=65:
    if score1 > 100 or score2 > 100 or score3 >100:
        print("잘못된 점수가 입력되었습니다.")
    else:
        print("합격")
elif score1 < 65 or score2 < 65 or score3 < 65:
    if score1 > 100 or score2 > 100 or score3 >100:
        print("잘못된 점수가 입력되었습니다.")
    else:
        print("불합격")
else :
    print("잘못된 점수가 입력되었습니다.")

점수를 입력해주세요20
점수를 입력해주세요20
점수를 입력해주세요120
잘못된 점수가 입력되었습니다.

In [11]:
score1 = int(input("점수를 입력해주세요"))
score2 = int(input("점수를 입력해주세요"))
score3 = int(input("점수를 입력해주세요"))

if score1 > 101 or score2 >101 or score3 >101:
    print("잘못된 점수가 입력되었습니다.")

elif score1>=65 and score2>=65 and score3>=65:
    print("합격")

else :
    print("불합격")

점수를 입력해주세요20
점수를 입력해주세요20
점수를 입력해주세요120
잘못된 점수가 입력되었습니다.

In [294]:
fruit = []
vegetable = []

In [322]:
choice = str(input("등록할 카테고리를 선택해주세요 (과일, 채소)"))
if choice == "과일":
    x=str(input("등록할 과일을 입력해주세요 : "))
    if x in fruit:
        print("이미 등록된 과일입니다.")
        print(fruit)
    else:
        fruit.append(x)
        print(fruit)
# -----------------------------------------------------------------
elif choice == "채소":
    y=str(input("등록할 채소을 입력해주세요 : "))
    if y in vegetable:
        print("이미 등록된 야채입니다.")
        print(vegetable)
    else :
        vegetable.append(y)
        print(vegetable) 
# -----------------------------------------------------------------
else :
    print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해주세요 (과일, 채소)과일
등록할 과일을 입력해주세요 : 파인애플
이미 등록된 과일입니다.
['사과', '바나나', '키위', '파인애플', '망고']

In [321]:
print(fruit)
print(vegetable)

['사과', '바나나', '키위', '파인애플', '망고']
['토마토', '샐러리', '양상추']

In [1]:
fuit=[]
vegetable=[]

In [3]:
category = input("등록할 카테고리를 선택해주세요 (과일, 채소) : ")
item = input("등록할 {}를 입력해주세요.".format(category))
print(category)
print(item)

category_list = ['과일','채소']
category_dict = {'과일' : fuit, '채소' : vegetable}

if category not in category_list:
    print('존재하지 않은 카테고리입니다.')
else :
    item_list=category_dict[category]
    print(f'item list : {item_list}')
    if item in  item_list:
        print(f'이미 등록된 {category}입니다.')
    else :
        item_list.append(item)
        print(item_list)

등록할 카테고리를 선택해주세요 (과일, 채소) : 과일
등록할 과일를 입력해주세요.사과
과일
사과
item list : []
['사과']