In [1]:
a=[32, 45, 2, 5, 76]

In [2]:
small = a[0]
for i in a :
    if i<small :
        small = i
print(small)

2

In [3]:
large = a[0]
for i in a :
    if i>large:
        large = i
print(large)

76

In [4]:
a.sort()
print(a[0])

2

In [5]:
a.sort(reverse=True)
print(a[0])

76

In [6]:
print(min(a))
print(max(a))

2
76

In [8]:
b=0
for i in a:
    b+=i
print(b)

160

In [9]:
sum(a)

160

In [11]:
fruit="사과,배,옥수수,당근"
fruit_list=fruit.split(",")
print(fruit_list)

['사과', '배', '옥수수', '당근']

In [12]:
fruit="사과 배 옥수수 당근"
fruit_list=fruit.split(" ")
print(fruit_list)

['사과', '배', '옥수수', '당근']

In [17]:
fruit="사과    배     옥수수    당근"
fruit_list=fruit.split(" ")
print(fruit_list)

['사과', '', '', '', '배', '', '', '', '', '옥수수', '', '', '', '당근']

In [19]:
fruit="사과,배, 옥수수,당근"
fruit_list=fruit.split(",")
print(fruit_list)

['사과', '배', ' 옥수수', '당근']

In [20]:
fruit_list = ['사과','배','옥수수','당근']
fruit ="".join(fruit_list)
print(fruit)

사과배옥수수당근

In [21]:
fruit =" ".join(fruit_list)
print(fruit)

사과 배 옥수수 당근

In [22]:
fruit =",".join(fruit_list)
print(fruit)

사과,배,옥수수,당근

In [68]:
vhssjaqj ="+82-01-2345-6789"
split_num = vhssjaqj.split("-", 1)
print(split_num)

['+82', '01-2345-6789']

In [79]:
"aaaaPyathonaaa".strip("a")

'Pyathon'

In [74]:
"python. \n".strip()

'python.'

In [73]:
test_str_multi = "##***!!!##.... Python is powerful.!... %%!#.. "
test_str_multi.strip('*.#! %')

'Python is powerful'

In [28]:
str_lr = "000Python is easy to learn.000"
print(str_lr.strip('0'))
print(str_lr.lstrip('0'))
print(str_lr.rstrip('0'))

Python is easy to learn.
Python is easy to learn.000
000Python is easy to learn.

In [50]:
coffee_menu = " 에스프레소,아메리카노, 카페라테, 카푸치노 "
s = coffee_menu.replace(' ','')
print(s.split(","))

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [61]:
coffee_menu = " 에스프레소,아메리카노, 카페라테,카푸치노 "
cm = coffee_menu.strip()
list_cm = cm.split(",") 
print(list_cm)

for i in range(len(list_cm)):
    list_cm[i] = list_cm[i].strip()
    
print(list_cm)

['에스프레소', '아메리카노', ' 카페라테', '카푸치노']
['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [86]:
str_f = "Regular expression."
print(str_f.find("x"))

9

In [92]:
sentence = "Life is venture or nothing"

print(sentence.find("Life", 10, 30))
print(sentence.find("nothing", 15))

-1
19

In [93]:
string="Python is awesome, isn't it?"
substing = "is"

print(string.count(substing))

2

In [96]:
text = "Python is easy to learn."

print(text.startswith("is easy"))
print(text.startswith("Python is"))
print(text.startswith("Python is easy to learn."))

False
True
True

In [98]:
print(text.endswith("to learn."))

True

In [100]:
"python".isdigit()

False

In [101]:
"1".isdigit()

True

In [102]:
"1.13".isdigit()

False

In [103]:
a=[i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
a=[i+7 for i in range(10)]
print(a)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [106]:
a=[i*10 for i in range(10)]
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [107]:
a=[i for i in range(10) if i%2 ==0]
print(a)

[0, 2, 4, 6, 8]

In [108]:
a=[i for i in range(10) if i % 2 == 1]
print(a)

[1, 3, 5, 7, 9]

In [109]:
a=[i*100 for i in range(20) if i//2 <= 5]
print(a)

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]

In [111]:
a=[i*j for i in range(2,10) for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [113]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

In [115]:
dic = {keys[i] : users[i] for i in range(3)}
print(dic)

{'name': 'tom', 'age': 20, 'address': 'incheon'}

In [117]:
dicdic=dict(zip(keys, users))
print(dicdic)

{'name': 'tom', 'age': 20, 'address': 'incheon'}

In [118]:
lis = list(zip(users, keys))
print(lis)

[('tom', 'name'), (20, 'age'), ('incheon', 'address')]

In [121]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]

for k, u in zip(keys, users) :
    print("key : {}, value : {}".format(k,u))

key : name, value : tom
key : age, value : 20
key : address, value : incheon

In [163]:
a=[[10,20],[30,40],[50,60]]
print(a[0][0])
print(a[0][1])
print(a[1][1])

10
20
40

In [164]:
a[0].append(10)
print(a)

[[10, 20, 10], [30, 40], [50, 60]]

In [165]:
a[1].append(20)
print(a)

[[10, 20, 10], [30, 40, 20], [50, 60]]

In [166]:
a[2].extend([10, 20])
print(a)

[[10, 20, 10], [30, 40, 20], [50, 60, 10, 20]]

In [167]:
a=[[10,20],[30,40],[50,60]]
for x, y in a:
    print(x, y)

10 20
30 40
50 60

In [192]:
a=[[10,20],[30,40],[50,60]]
for i in a:
    for j in i:
        print(j,end='')
    print()

1020
3040
5060

In [193]:
a=[[10,20],[30,40],[50,60]]
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j],end="")
    print()

1020
3040
5060

In [196]:
a=[[10,20],[30,40],[50,60]]
for idx, val in enumerate(a):
    for idx2, val2 in enumerate(val):
        print(idx, idx2, val2)

0 0 10
0 1 20
1 0 30
1 1 40
2 0 50
2 1 60

In [202]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(0)
    a.append(temp)
print(a)

[[0, 0], [0, 0], [0, 0]]

In [207]:
word=["school", "game", "piano", "science", "hotel", "mountain"]

new_word=[i for i in word if len(i) >= 6]

print(new_word)

['school', 'science', 'mountain']

In [272]:
# 정답
# word=["school", "game", "piano", "science", "hotel", "mountain"]
# new_word = []
# for w in word:
#     if len(w) >= 6:
#         new_word.append(w)
# print(new_word)

[w for w in word if len(w) >= 6]

['school', 'science', 'mountain']

In [211]:
word=["school", "game", "piano", "science", "hotel", "mountain"]

new_word=[len(i) for i in word]

print(new_word)

[6, 4, 5, 7, 5, 8]

In [273]:
# new_word =[]
# for w in word:
#     new_word.append(len(w))
# new_word
[len(w) for w in word]

[6, 4, 5, 7, 5, 8]

In [260]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]
c=[]

In [261]:
for i in range(3):
    temp = []
    for k in range(2):
        multi = a[i][k] * b[i][k]
        temp.append(multi)
    c.append(temp)
print(c)

[[20, 60], [120, 200], [300, 420]]

In [279]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]
total = []

for x, y in zip(a, b):
    temp = []
    for w, z in zip(x, y):
        temp.append(w*z)
    total.append(temp)

print(total)

[[20, 60], [120, 200], [300, 420]]

In [283]:
a=[]
k=0
for i in range(3):
    temp=[]
    for j in range(2):
        k += 1
        temp.append(k)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [284]:
# 정답
a = []

for i in range(3):
    temp = []
    for j in range(2):
        temp.append(i*2+1+j)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [325]:
file = open("file.txt", "w", encoding='utf-8')
file.write('''First File
안녕하세요''')
file.close()

In [326]:
file=open("file.txt", "r", encoding='utf-8')
text = file.read()
print(text)
file.close()

First File
안녕하세요

In [327]:
with open("file.txt", "r", encoding='utf-8') as file:
    text=file.read()
    print(text)

First File
안녕하세요

In [334]:
customers = [{"이름":"홍경수", "나이":"18"}, {"이름":"백승엽", "나이":"19"}, {"이름":"정진희", "나이":"8"}]
customers

[{'이름': '홍경수', '나이': '18'},
 {'이름': '백승엽', '나이': '19'},
 {'이름': '정진희', '나이': '8'}]

In [342]:
import pickle
with open("data.pkl", "wb") as file:
    pickle.dump(customers, file)

In [343]:
import pickle
with open("data.pkl","rb") as file: 
    data=pickle.load(file)
    print(data)

[{'이름': '홍경수', '나이': '18'}, {'이름': '백승엽', '나이': '19'}, {'이름': '정진희', '나이': '8'}]

In [356]:
import pickle
name = "tom"
age = 24
address = "서울시 마포구"
scores = {"python":90, "deeplearning":95, "database":85}

with open ("data2.pkl", "wb") as file:
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

In [364]:
import pickle
with open ("data2.pkl","rb") as file:
    name = pickle.load(file)
    age2 = pickle.load(file)
    address2 = pickle.load(file)
    scores = pickle.load(file)
    print(name)

tom

In [348]:
import pickle

a = [{"이름" : "백승엽", "나이" : 31}, {"이름" : "백종원", "나이" : 41}, {"이름" : "백지훈", "나이" : 21}]

with open("data3.pkl","wb") as file:
    pickle.dump(a, file)

In [354]:
with open("data3.pkl","rb") as file:
    data3=pickle.load(file)
    print(data3[0]["이름"])

백승엽

In [486]:
def func(a,b):
    print("함수입니다.")
    return a+b

In [487]:
func_test=func(1,2)
print(func_test)

함수입니다.
3

In [488]:
def func2(a,b):
    print(f"{a}, {b}")

In [490]:
func2(1,2)
func2(13,5)

1, 2
13, 5

In [491]:
def id_check(id):
    if id == "admin":
        print("invalid id : admin")
        return
    print("valid id", id)

In [495]:
id_check("ddddd")

In [ ]:
def func(a) :
    b=a+1
    return a,b

In [496]:
v

3

In [497]:
t

10

In [498]:
d

NameError: name 'd' is not defined