# 13. 리스트 응용
### 13.1 리스트의 가장 큰 수, 가장 작은 수 구하기
###### 13.1.1 max, min

In [3]:
a=[32, 45, 2, 5, 76]

small = a[0]
for i in a :
    if i<small :
        small = i
print(small)

2

In [4]:
a=[32, 45, 2, 5, 76]

large = a[0]
for i in a :
    if i>large:
        large = i
print(large)

76

In [5]:
a=[32, 45, 2, 5, 76]

a.sort()
print(a[0])

a.sort(reverse=True)
print(a[0])

2
76

In [6]:
a=[32, 45, 2, 5, 76]

print(min(a))
print(max(a))

2
76

### 13.2 합계 구하기
###### 13.2.1 sum

In [7]:
a=[32, 45, 2, 5, 76]

b=0
for i in a:
    b+=i
print(b)

160

In [8]:
a=[32, 45, 2, 5, 76]

sum(a)

160

### 13.3 split, join 함수
###### 13.3.1 split 함수
- 문자를 리스트로

In [11]:
fruit="사과,배,옥수수,당근"
fruit_list=fruit.split(",")
print(fruit_list)

['사과', '배', '옥수수', '당근']

###### 13.3.2 join 함수
- 리스트를 문자로

In [9]:
fruit_list = ['사과','배','옥수수','당근']
fruit ="".join(fruit_list)
print(fruit)

fruit =" ".join(fruit_list)
print(fruit)

fruit =",".join(fruit_list)
print(fruit)

사과배옥수수당근
사과 배 옥수수 당근
사과,배,옥수수,당근

### 13.4 리스트 컴프리핸션(list comprehension)
###### 13.4.1 list [식 for 변수 in 리스트]

In [11]:
a = [i for i in range(10)]
print(a)
b = [i+5 for i in range(10)]
print(b)
c = [i * 3 for i in range(10)]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

###### 13.4.2 list [식 for 변수 in 리스트 if 조건]

In [13]:
a = [i for i in range(10) if i % 2 == 0]
print(a)
b = [i for i in range(10) if i % 2 == 1]
print(b)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

###### 13.4.3 list [식 for 변수 in 리스트 for 변수 in 리스트]

In [14]:
a = [i * j for i in range(2, 10) for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

###### 13.4.4 리스트를 딕셔너리로 변경

In [1]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'incheon']
dicdic = {keys[i] : users[i] for i in range(0,3)}
print(dicdic)

{'name': 'tom', 'age': 20, 'address': 'incheon'}

### 13.5 ZIP
###### 13.5.1 zip (리스트1, 리스트2)

In [4]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'incheon']
dic = dict(zip(keys, users))
print(dic)

lis = list(zip(keys, users))
print(lis)

{'name': 'tom', 'age': 20, 'address': 'incheon'}
[('name', 'tom'), ('age', 20), ('address', 'incheon')]

### 실습 01
**(1) word=['school', 'game', 'piano', 'science', 'hotel', 'mountain'] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요. (리스트 컴프리핸션을 사용해주세요)**

In [7]:
word=['school', 'game', 'piano', 'science', 'hotel', 'mountain']

six_word = [i for i in word if len(i) >= 6]
print(six_word)

['school', 'science', 'mountain']

**(2) word=['school', 'game', 'piano', 'science', 'hotel', 'mountain'] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요 (리스트 컴프리핸션을 사용해주세요)**

In [8]:
word=['school', 'game', 'piano', 'science', 'hotel', 'mountain']

len_word = [len(i) for i in word]
print(len_word)

[6, 4, 5, 7, 5, 8]

### 13.6 2차원리스트 (다차원 리스트)
###### 13.6.1 2차원 리스트 선언

In [9]:
a = [[10,20], [30,40], [50,60]]
print(a[0][0])
print(a[0][1])
print(a[1][1])

10
20
40

###### 13.6.2 2차원 리스트 값 추가

In [13]:
a = [[10,20], [30,40], [50,60]]
a[0].append(10)
print(a)
a[1].append(20)
print(a)
a[2].extend([1,2])
print(a)

[[10, 20, 10], [30, 40], [50, 60]]
[[10, 20, 10], [30, 40, 20], [50, 60]]
[[10, 20, 10], [30, 40, 20], [50, 60, 1, 2]]

### 13.7 2차원 리스트 값 출력 (다차원 리스트)
###### 13.7.1 for 문 사용

In [14]:
a = [[10,20], [30,40], [50,60]]
for x,y in a:
    print(x,y)

10 20
30 40
50 60

###### 13.7.2 이중 for 문 사용

In [18]:
a = [[10,20], [30,40], [50,60]]
for i in a:
    for j in i:
        print(j, end=' ')
print()

10 20 30 40 50 60

### 13.8 2차원 리스트 값 접근 (다차원 리스트)
###### 13.8.1 for 와 rnage 사용

In [20]:
a = [[10,20], [30,40], [50,60]]
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

###### 13.8.2 for 와 enumerate 사용

In [21]:
a = [[10,20], [30,40], [50,60]]
for idx, val in enumerate(a):
    for idx2, val2 in enumerate(val):
        print(idx, idx2, val2)

0 0 10
0 1 20
1 0 30
1 1 40
2 0 50
2 1 60

### 13.9 2차원 리스트 만들기

In [23]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(0)
    a.append(temp)
print(a)

[[0, 0], [0, 0], [0, 0]]

### 실습 02
**아래 두 리스트를 곱해 새로운 리스트 C를 만드세요<br>
a = [[10,20], [30,40], [50,60]]<br>
b = [[2,3], [4,5], [6,7]]**

In [34]:
a = [[10,20], [30,40], [50,60]]
b = [[2,3], [4,5], [6,7]]
c = []
for i in range(len(a)):
    c_pre = []
    for j in range(len(a[i])):
        c_pre.append(a[i][j]*b[i][j])
    c.append(c_pre)
print(c)

[[20, 60], [120, 200], [300, 420]]

### 실습 03
**아래의 학습 코드를 가지고 a리스트가 [[1,2],[3,4],[5,6]] 와 같이 만들어지도록 수정하세요**

In [37]:
a = []
c = 1
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(c)
        c += 1
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

# 14. 별 출력 (조건, 반복문 익숙해지기)
### 14.1 별출력하기
###### 14.1.1 사각형별

In [38]:
for i in range(5):
    print("*"*5)

*****
*****
*****
*****
*****

###### 14.1.2 계단식별

In [39]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

###### 14.1.3 대각선 별

In [86]:
for i in range(5):
    for j in range(5):
        if i == j:
            print('*\n', end='')
        else :
            print(" ", end="")
    print()

*

 *

  *

   *

    *

###### 14.1.4 계단식(역순)

In [90]:
for i in range(5, 0, -1):
    print('*'*i)

*****
****
***
**
*

###### 14.1.5 계단식 (역순)

In [91]:
for i in range(6, 0, -1):
    print("{:>5}".format('*'*(i-1)))

*****
 ****
  ***
   **
    *

# 16. 파일 입출력

In [202]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(0)
    a.append(temp)
print(a)

[[0, 0], [0, 0], [0, 0]]

In [207]:
word=["school", "game", "piano", "science", "hotel", "mountain"]

new_word=[i for i in word if len(i) >= 6]

print(new_word)

['school', 'science', 'mountain']

In [272]:
# 정답
# word=["school", "game", "piano", "science", "hotel", "mountain"]
# new_word = []
# for w in word:
#     if len(w) >= 6:
#         new_word.append(w)
# print(new_word)

[w for w in word if len(w) >= 6]

['school', 'science', 'mountain']

In [211]:
word=["school", "game", "piano", "science", "hotel", "mountain"]

new_word=[len(i) for i in word]

print(new_word)

[6, 4, 5, 7, 5, 8]

In [273]:
# new_word =[]
# for w in word:
#     new_word.append(len(w))
# new_word
[len(w) for w in word]

[6, 4, 5, 7, 5, 8]

In [260]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]
c=[]

In [261]:
for i in range(3):
    temp = []
    for k in range(2):
        multi = a[i][k] * b[i][k]
        temp.append(multi)
    c.append(temp)
print(c)

[[20, 60], [120, 200], [300, 420]]

In [279]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]
total = []

for x, y in zip(a, b):
    temp = []
    for w, z in zip(x, y):
        temp.append(w*z)
    total.append(temp)

print(total)

[[20, 60], [120, 200], [300, 420]]

In [283]:
a=[]
k=0
for i in range(3):
    temp=[]
    for j in range(2):
        k += 1
        temp.append(k)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [284]:
# 정답
a = []

for i in range(3):
    temp = []
    for j in range(2):
        temp.append(i*2+1+j)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [325]:
file = open("file.txt", "w", encoding='utf-8')
file.write('''First File
안녕하세요''')
file.close()

In [326]:
file=open("file.txt", "r", encoding='utf-8')
text = file.read()
print(text)
file.close()

First File
안녕하세요

In [327]:
with open("file.txt", "r", encoding='utf-8') as file:
    text=file.read()
    print(text)

First File
안녕하세요

In [334]:
customers = [{"이름":"홍경수", "나이":"18"}, {"이름":"백승엽", "나이":"19"}, {"이름":"정진희", "나이":"8"}]
customers

[{'이름': '홍경수', '나이': '18'},
 {'이름': '백승엽', '나이': '19'},
 {'이름': '정진희', '나이': '8'}]

In [342]:
import pickle
with open("data.pkl", "wb") as file:
    pickle.dump(customers, file)

In [343]:
import pickle
with open("data.pkl","rb") as file: 
    data=pickle.load(file)
    print(data)

[{'이름': '홍경수', '나이': '18'}, {'이름': '백승엽', '나이': '19'}, {'이름': '정진희', '나이': '8'}]

In [356]:
import pickle
name = "tom"
age = 24
address = "서울시 마포구"
scores = {"python":90, "deeplearning":95, "database":85}

with open ("data2.pkl", "wb") as file:
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

In [364]:
import pickle
with open ("data2.pkl","rb") as file:
    name = pickle.load(file)
    age2 = pickle.load(file)
    address2 = pickle.load(file)
    scores = pickle.load(file)
    print(name)

tom

In [348]:
import pickle

a = [{"이름" : "백승엽", "나이" : 31}, {"이름" : "백종원", "나이" : 41}, {"이름" : "백지훈", "나이" : 21}]

with open("data3.pkl","wb") as file:
    pickle.dump(a, file)

In [354]:
with open("data3.pkl","rb") as file:
    data3=pickle.load(file)
    print(data3[0]["이름"])

백승엽

In [486]:
def func(a,b):
    print("함수입니다.")
    return a+b

In [487]:
func_test=func(1,2)
print(func_test)

함수입니다.
3

In [488]:
def func2(a,b):
    print(f"{a}, {b}")

In [490]:
func2(1,2)
func2(13,5)

1, 2
13, 5

In [491]:
def id_check(id):
    if id == "admin":
        print("invalid id : admin")
        return
    print("valid id", id)

In [495]:
id_check("ddddd")

In [ ]:
def func(a) :
    b=a+1
    return a,b

In [496]:
v

3

In [497]:
t

10

In [498]:
d

NameError: name 'd' is not defined