In [12]:
def allindex (y, x):
    a=[]
    for i in range(len(y)):
        if y[i] == x:
            a.append(i)
    return a

In [13]:
lis = [1, 2, 3, 1, 4, 2, 1]

In [14]:
x = int(input("값을 입력하세요"))
y=lis

b = allindex (y,x)
print(b)

값을 입력하세요1
[0, 3, 6]

In [15]:
lis = [1, 2, 3, 1, 4, 2, 1]

In [17]:
value = 1
result = []
for i, v in enumerate(lis):
    if v == value :
        result.append(i)
        
result

[0, 3, 6]

In [18]:
def allindex(lst, value):
    result = []
    for i, v in enumerate(lis):
        if v == value :
            result.append(i)
    return result

In [19]:
allindex(lis, 1)

[0, 3, 6]

가변인수

In [23]:
def func1(a,b,c):
    print(a,b,c)
    
x = [1,2,3]
func1(*x)

1 2 3

In [28]:
def func2(*args):
    for i in args:
        print(i, end=" ")
    
func2(1)
func2(1, 2, 3, 4)

1 1 2 3 4

In [29]:
def func3(a, *args):
    print(a, end="")
    for arg in args :
        print(arg, end="")

In [31]:
func3(100, 1,2,3,4,5,6)

100123456

In [32]:
def func4(email, name):
    print('이메일:', email)
    print('이름 :', name)

In [34]:
func4('aa@aa.com','tom')

이메일: aa@aa.com
이름 : tom

In [35]:
func4(email='aa@aa', name='tom')

이메일: aa@aa
이름 : tom

In [37]:
func4(name='tom', email='aa@aa.com')

이메일: aa@aa.com
이름 : tom

In [38]:
d = {"name" : "tom", "email" : "aa@aa.com"}

In [39]:
func4(d,1)

이메일: {'name': 'tom', 'email': 'aa@aa.com'}
이름 : 1

In [40]:
func4(**d)

이메일: aa@aa.com
이름 : tom

In [41]:
def func5(email, name, age=20):
    print("이메일 :", email)
    print("이름 : ", name)
    print("나이 : ", age)

In [42]:
func5("aa@aa.com", "tom")

이메일 : aa@aa.com
이름 :  tom
나이 :  20

In [43]:
func5("aa@aa.com", "tom", 40)

이메일 : aa@aa.com
이름 :  tom
나이 :  40

In [44]:
def plus_ten(x):
    return x+10

In [47]:
plus_ten(10)

20

In [50]:
(lambda x : x + 10)(10)

20

In [51]:
y=20

In [52]:
(lambda x:x+y)(10)

30

In [53]:
a=[1,2,3,4,5,6,7,8,9]

def f(x):
    if x %2 ==0:
        return 0
    else :
        return x

In [54]:
temp = []
for item in a:
    temp.append(f(item))
    
temp

[1, 0, 3, 0, 5, 0, 7, 0, 9]

In [55]:
list(map(f,a))

[1, 0, 3, 0, 5, 0, 7, 0, 9]

In [57]:
list(map(lambda x: 0 if x %2 == 0 else x, a))

[1, 0, 3, 0, 5, 0, 7, 0, 9]

In [58]:
a=[2,6,4,3,6,8,3,9,6]

In [60]:
temp=[]
for item in a: 
    if item >2 and item <8:
        temp.append(item)
temp

[6, 4, 3, 6, 3, 6]

In [62]:
def f(x) :
    if item >2 and item <8:
        return x

In [63]:
list(filter(f,a))

[2, 6, 4, 3, 6, 8, 3, 9, 6]

In [64]:
list(filter(lambda x : x>2 and x<8, a))

[6, 4, 3, 6, 3, 6]

In [65]:
numbers = [12, 32, 55, 12, 32, 4, 86, 50]

In [70]:
list(map(lambda x : "합격" if x > 60 else "대기" if 50 < x <= 60 else "불합격" ,numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '불합격']

In [85]:
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]

In [120]:
temp = []
for i in range(len(files)):
    index = files[i].find("jpg")
    if index >=0 :
        temp.append(files[i])
        
print(temp)

['1.jpg', '23.jpg', '223.jpg']

In [122]:
def search(x):
    index =x.find("jpg")
    if index >= 1:
        return x

In [124]:
result = []
for file in files:
    result.append (search(file))
result

[None, '1.jpg', None, '23.jpg', '223.jpg']

In [110]:
files = ["memo.txt","1.jpg","32.png","23.jpg","223.jpg"]

In [125]:
list(filter(lambda x : x.find("jpg") >= 0,files))

['1.jpg', '23.jpg', '223.jpg']

In [136]:
print('a')
print('a')
print('a')
print('a')
try :
    print(10/0)
except Exception as e:
    print("예외 오류 사항",e)

print('a')
print('a')
print('a')
print('a')
print('a')

a
a
a
a
예외 오류 사항 division by zero
a
a
a
a
a

In [135]:
x=[1,2,3]

try : 
#     print(10/0)
    x[5]
except ZeroDivisionError as e:
    print("잘못된 숫자",e)
except IndexError as e:
    print("wkfah",e)

wkfah list index out of range