In [1]:
import requests
from bs4 import BeautifulSoup
import re

In [2]:
url ="https://scrapying-study.firebaseapp.com/02/"
res = requests.get(url)
soup = BeautifulSoup(res.text, "html.parser")

In [12]:
result = soup.select("#title") #soup.find_all(id="title") 셀렉트는 리스트로 결과가 나온다
result[0].text.strip()

'안녕하세요'

In [9]:
soup.select("body > a:nth-child(4)")

In [11]:
soup.select_one("body > a:nth-child(4)") #find

In [13]:
soup.select_one("title").text

'크롤링 연습사이트 02'

In [15]:
soup.select_one(".bold.blue").text.strip()

'안녕하세요'

In [18]:
result = soup.select(".bold.blue")
print(len(result))

1

In [19]:
soup.select('a[href]')

[<a href="http://naver.com" target="_blank">네이버</a>,
 <a href="http://daum.net" target="_self">다음</a>,
 <a href="http://google.com" target="_self">구글</a>]

In [20]:
soup.select("a[target='_blank']")

In [22]:
soup.select("a[href$='.com']")

[<a href="http://naver.com" target="_blank">네이버</a>,
 <a href="http://google.com" target="_self">구글</a>]

In [25]:
soup.select("div#winter p")

[<p>온세상이 떨릴듯</p>,
 <p class="blue">두근거리고 <span>익숙한 듯 편안해</span></p>,
 <p>네가 느껴져</p>,
 <p class="blue">오래된 친구같아</p>]

In [26]:
soup.select("div#winter > p")

# * 실습1

In [33]:
url ="https://scrapying-study.firebaseapp.com/03/"
res = requests.get(url)
soup = BeautifulSoup(res.text, "html.parser")

In [185]:
ristretto = soup.select_one("#popularItemList").text

In [98]:
print(ristretto)

1.써니전자5,000
2.삼성전자55,200
3.안랩81,000
4.케이엠더블..57,300
5.피피아이12,600
6.KT&G92,500
7.삼성전자우45,600
8.대양금속10,550
9.SK하이닉스94,700
10.SK텔레콤234,000

In [109]:
espresso=re.findall("[가-힣A-Z&]+\.*", ristretto)
print(espresso)

['써니전자', '삼성전자', '안랩', '케이엠더블..', '피피아이', 'KT&G', '삼성전자우', '대양금속', 'SK하이닉스', 'SK텔레콤']

In [110]:
lungo=re.findall("[0-9]+,[0-9]+", ristretto)
print(lungo)

['5,000', '55,200', '81,000', '57,300', '12,600', '92,500', '45,600', '10,550', '94,700', '234,000']

In [160]:
coffee = []
for i in range(10):
    variation = []
    for k in range(1):
        variation.append(espresso[i])
        variation.append(lungo[i])
    coffee.append(variation)
print(coffee)

[['써니전자', '5,000'], ['삼성전자', '55,200'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['KT&G', '92,500'], ['삼성전자우', '45,600'], ['대양금속', '10,550'], ['SK하이닉스', '94,700'], ['SK텔레콤', '234,000']]

In [112]:
latte = soup.select_one("body > ul.lst_major").text
print(latte)

다우산업28,647.43
나스닥9,015.03
홍콩H11,320.56
상해종합3,085.20
니케이22523,656.62

In [113]:
dry_cappuccino=re.findall("[가-힣A-Z&]+\.*", latte)
print(dry_cappuccino)

['다우산업', '나스닥', '홍콩H', '상해종합', '니케이']

In [114]:
wet_cappuccino=re.findall("[0-9.,]+", latte)
print(wet_cappuccino)

['28,647.43', '9,015.03', '11,320.56', '3,085.20', '22523,656.62']

In [115]:
cappuccino = []
for i in range(5):
    variation = []
    for k in range(1):
        variation.append(dry_cappuccino[i])
        variation.append(wet_cappuccino[i])
    cappuccino.append(variation)
print(cappuccino)

[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20'], ['니케이', '22523,656.62']]

In [116]:
print(coffee)
print(cappuccino)

[['써니전자', '5,000', '써니전자', '5,000'], ['삼성전자', '55,200', '삼성전자', '55,200'], ['안랩', '81,000', '안랩', '81,000'], ['케이엠더블..', '57,300', '케이엠더블..', '57,300'], ['피피아이', '12,600', '피피아이', '12,600'], ['KT&G', '92,500', 'KT&G', '92,500'], ['삼성전자우', '45,600', '삼성전자우', '45,600'], ['대양금속', '10,550', '대양금속', '10,550'], ['SK하이닉스', '94,700', 'SK하이닉스', '94,700'], ['SK텔레콤', '234,000', 'SK텔레콤', '234,000']]
[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20'], ['니케이', '22523,656.62']]

# * 실습 2

In [162]:
blue_tea = []
for i in range(1,11):
    green_tea = soup.select_one("#popularItemList > li:nth-child({})".format(i)).find("img")["alt"]
    blue_tea.append(green_tea)
print(blue_tea)

['상한', '하락', '상승', '상승', '상한', '하락', '상승', '하한', '상승', '하락']

In [163]:
tea = []
for i in range(10):
    variation = []
    for k in range(1):
        variation.append(espresso[i])
        variation.append(blue_tea[i])
    tea.append(variation)
print(tea)

[['써니전자', '상한'], ['삼성전자', '하락'], ['안랩', '상승'], ['케이엠더블..', '상승'], ['피피아이', '상한'], ['KT&G', '하락'], ['삼성전자우', '상승'], ['대양금속', '하한'], ['SK하이닉스', '상승'], ['SK텔레콤', '하락']]

In [164]:
black_tea = []
for i in range(1,6):
    white_tea = soup.select_one("body > ul.lst_major > li:nth-child({})".format(i)).find("img")["alt"]
    black_tea.append(white_tea)
print(black_tea)

['상한', '상한', '상한', '상한', '하락']

In [166]:
dark_tea = []
for i in range(5):
    variation = []
    for k in range(1):
        variation.append(dry_cappuccino[i])
        variation.append(black_tea[i])
    dark_tea.append(variation)
print(dark_tea)

[['다우산업', '상한'], ['나스닥', '상한'], ['홍콩H', '상한'], ['상해종합', '상한'], ['니케이', '하락']]

# * 실습 3

In [171]:
red_wine = []
for i in range(10):
    variation = []
    for k in range(1):
        variation.append(espresso[i])
        variation.append(lungo[i])
        variation.append(blue_tea[i])
    red_wine.append(variation)
print(red_wine)

[['써니전자', '5,000', '상한'], ['삼성전자', '55,200', '하락'], ['안랩', '81,000', '상승'], ['케이엠더블..', '57,300', '상승'], ['피피아이', '12,600', '상한'], ['KT&G', '92,500', '하락'], ['삼성전자우', '45,600', '상승'], ['대양금속', '10,550', '하한'], ['SK하이닉스', '94,700', '상승'], ['SK텔레콤', '234,000', '하락']]

In [182]:
rose_wine=[]
for i in range(len(red_wine)):
    ice_wine = []
    for k in range(1):
        if red_wine[i][2] == '상한' or red_wine[i][2] == '상승':
            ice_wine.append(red_wine[i][0])
            ice_wine.append(red_wine[i][1])
            rose_wine.append(ice_wine)
print(rose_wine)

[['써니전자', '5,000'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['삼성전자우', '45,600'], ['SK하이닉스', '94,700']]

In [172]:
white_wine = []
for i in range(5):
    variation = []
    for k in range(1):
        variation.append(dry_cappuccino[i])
        variation.append(wet_cappuccino[i])
        variation.append(black_tea[i])
    white_wine.append(variation)
print(white_wine)

[['다우산업', '28,647.43', '상한'], ['나스닥', '9,015.03', '상한'], ['홍콩H', '11,320.56', '상한'], ['상해종합', '3,085.20', '상한'], ['니케이', '22523,656.62', '하락']]

In [183]:
sparkling_wine=[]
for i in range(len(white_wine)):
    ice_wine = []
    for k in range(1):
        if white_wine[i][2] == '상한':
            ice_wine.append(white_wine[i][0])
            ice_wine.append(white_wine[i][1])
            sparkling_wine.append(ice_wine)
print(sparkling_wine)

[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20']]

# * 실습 4

In [310]:
k_name = ["이름"]*5
print(k_name)

['이름', '이름', '이름', '이름', '이름']

In [311]:
v_name = []
for i in range(1,6):
    vn = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_tit > a".format(i)).text
    v_name.append(vn)
print(v_name)

['H하우스장위', '고덕리엔파크2단지 장기전세', '신정이펜하우스3단지 장기전세', '천왕이펜하우스2단지 장기전세', '송파파크데일2단지 장기전세']

In [312]:
k_price = ["분양가"]*5
print(k_price)

['분양가', '분양가', '분양가', '분양가', '분양가']

In [313]:
v_price = []
for i in range(1,6):
    vp = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_detail > dl > dd:nth-child(2) > strong".format(i)).text
    v_price.append(vp)
print(v_price)

['16,000', '38,400', '39,040', '38,240', '45,600']

In [314]:
k_type = ["유형"]*5
print(k_type)

['유형', '유형', '유형', '유형', '유형']

In [315]:
vt = []
for i in range(1,6):
    vt0 = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_detail > dl > dd:nth-child(4)".format(i)).text
    vt1 = re.findall("아파트", vt0)
    vt.append(vt1)

    
v_type = []
for k in range(5):
    v_type.append(vt[k][0])
print(v_type)

['아파트', '아파트', '아파트', '아파트', '아파트']

In [316]:
k_type2 = ["분양유형"]*5
print(k_type2)

['분양유형', '분양유형', '분양유형', '분양유형', '분양유형']

In [317]:
v_type2 =[]
for i in range(1,6):
    vt3 = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_detail > dl > dd:nth-child(4)".format(i)).text
    vt4 = re.sub("^....", "", vt3)
    v_type2.append(vt4)
print(v_type2)

['일반민간임대', '장기전세주택', '장기전세주택', '장기전세주택', '장기전세주택']

In [329]:
k_house = ["세대수"]*5
print(k_house)

['세대수', '세대수', '세대수', '세대수', '세대수']

In [332]:
vh =[]
for i in range(1,6):
    vh0 = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_detail > dl > dd:nth-child(6)".format(i)).text
    vh1 = re.findall("분양 [0-9]*세대", vh0)
    vh.append(vh1)

v_house = []
for k in range(5):
    v_house.append(vh[k][0])
print(v_house)

['분양 134세대', '분양 1세대', '분양 1세대', '분양 1세대', '분양 1세대']

In [320]:
k_area = ["평형"]*5
print(k_area)

['평형', '평형', '평형', '평형', '평형']

In [321]:
v_area = []
for i in range(1,6):
    va0 = soup.select_one("body > ul.sale_list._sale_list > li:nth-child({}) > div > div.sale_detail > dl > dd:nth-child(6)".format(i)).text
    va1 = re.sub("분양 [0-9]*세대.", "", va0)
    v_area.append(va1)
print(v_area)

['45㎡~65㎡', '149㎡', '148㎡', '142㎡', '150㎡']

In [326]:
dic = dict(zip(k_name[:],v_name[:]))
print(dic)

{'이름': '송파파크데일2단지 장기전세'}

In [ ]:
k_name, v_name // k_price, v_price // k_type, v_type // k_type2, v_type2 // k_house, v_house // k_area, v_area

In [333]:
f = []
for i in range(5):
    d = {}
    for k in range(1):
        d.setdefault(k_name[i],v_name[i])
        d.setdefault(k_price[i],v_price[i])
        d.setdefault(k_type[i],v_type[i])
        d.setdefault(k_type2[i],v_type2[i])
        d.setdefault(k_house[i],v_house[i])
        d.setdefault(k_area[i],v_area[i])
    f.append(d)
print(f)

[{'이름': 'H하우스장위', '분양가': '16,000', '유형': '아파트', '분양유형': '일반민간임대', '세대수': '분양 134세대', '평형': '45㎡~65㎡'}, {'이름': '고덕리엔파크2단지 장기전세', '분양가': '38,400', '유형': '아파트', '분양유형': '장기전세주택', '세대수': '분양 1세대', '평형': '149㎡'}, {'이름': '신정이펜하우스3단지 장기전세', '분양가': '39,040', '유형': '아파트', '분양유형': '장기전세주택', '세대수': '분양 1세대', '평형': '148㎡'}, {'이름': '천왕이펜하우스2단지 장기전세', '분양가': '38,240', '유형': '아파트', '분양유형': '장기전세주택', '세대수': '분양 1세대', '평형': '142㎡'}, {'이름': '송파파크데일2단지 장기전세', '분양가': '45,600', '유형': '아파트', '분양유형': '장기전세주택', '세대수': '분양 1세대', '평형': '150㎡'}]