In [6]:
a=123
b=-178
c=0
print(a, b, c)

123 -178 0

In [8]:
a=1.2
b=-3.45
print(a,b)

1.2 -3.45

In [9]:
a=4.24E10
b=4.24e-10
print(a,b)

42400000000.0 4.24e-10

In [10]:
a=0o177
print(a)

127

In [11]:
a=0x8ff
b=0xABC
print(a,b)

2303 2748

In [13]:
a=3
b=4
print(a+b)
print(a*b)
print(a/b)

7
12
0.75

In [14]:
a=3
b=4
print(a**b)

81

In [16]:
7%3

1

In [17]:
3%7

3

In [18]:
7/4

1.75

In [19]:
7//4

1

* 나혼자 코딩 방금 배운 연사자를 사용해서 숫자 14를 3으로 나누었을 때 몫과 나머지를 확인해 보자.

In [20]:
a=14
b=3
x=a//b
y=a%b
print("14를 3으로 나누었을 때, 몫은 %d 나머지는 %d" %(x, y))

14를 3으로 나누었을 때, 몫은 4 나머지는 2

In [24]:
print("Hello World")
print('Python is fun')
print("""Life is too short, You need python""")
print('''Life is too short, You need python''')

Hello World
Python is fun
Life is too short, You need python
Life is too short, You need python

In [25]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [26]:
food = 'Python's favorite food is perl'
print(food)

SyntaxError: invalid syntax (<ipython-input-26-6b85d57f5856>, line 1)

In [27]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [29]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\"he says"
print(food)
print(say)

Python's favorite food is perl
"Python is very easy."he says

In [30]:
multiline ="Life is too short \nYou need python"
print(multiline)

Life is too short
You need python

In [31]:
multiline1="""
Life is too short
You need python
"""
multiline2='''
Life is too short
You need python
'''
print(multiline1)
print(multiline2)

Life is too short
You need python


Life is too short
You need python

In [32]:
head = "Python"
tail = " is fun!"
print( head + tail)

Python is fun!

In [36]:
a="python\t"
print(a*2)

python	python

In [37]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [38]:
a = "Life is too short"
print(len(a))

17

* 나혼자 코딩 'You need python' 문장을 문자열로 만들고 길이를 구해 보자.

In [39]:
a = "You need python"
print(len(a))

15

In [40]:
a = "Life is too short, You need Python"
print(a[3])

e

In [42]:
print(a[0]+a[9]+a[-5])

Loy

In [43]:
b=a[0]+a[1]+a[2]+a[3]
print(b)

Life

In [44]:
print(a[:4])

Life

In [47]:
print(a[0:3])
print(a[0:5])
print(a[0:2])
print(a[5:7])
print(a[12:17])
print(a[19:])
print(a[:17])
print(a[:])
print(a[19:-7])

Lif
Life
Li
is
short
You need Python
Life is too short
Life is too short, You need Python
You need

In [48]:
a="20010331Rainy"
date=a[:8]
weather=a[8:]
print(a[:8])
print(a[8:])

20010331
Rainy

In [49]:
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [56]:
a="pithon"
print(a[:1] + 'y' + a[2:])

python

In [58]:
print("I eat %d apples." % 3)

I eat 3 apples.

In [59]:
print("I eat %s apples." %"five")

I eat five apples.

In [60]:
number = 3
print("I eat %d apple." % number)

I eat 3 apple.

In [61]:
number = 10
day = "three"
print("I ate %d apples. so I was sick for %s days." %(number, day))

I ate 10 apples. so I was sick for three days.

In [62]:
print("I have %s apples" % 3)
print("rate is %s" % 3.234)

I have 3 apples
rate is 3.234

In [65]:
print("'%10s'" % "ih")

'        ih'

In [66]:
print("'%-10sJane'"% 'hi')

'hi        Jane'

In [67]:
print("%0.4f" %3.42134234)

3.4213

In [69]:
print("'%10.4f'" %3.42134234)

'    3.4213'

In [70]:
print("I eat {0} apples".format(3))

I eat 3 apples

In [71]:
print("I eat {0} apples".format("five"))

I eat five apples

In [72]:
number=3
print("I eat {0} apples.".format(number))

I eat 3 apples.

In [73]:
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

I ate 10 apples. so I was sick for three days.

In [74]:
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))

I ate 10 apples. so I was sick for 3 days.

In [79]:
print("'{0:<10}'".format("hi"))
print("'{0:>10}'".format("hi"))
print("'{0:^10}'".format("hi"))

'hi        '
'        hi'
'    hi    '

In [82]:
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [83]:
y=3.42134234
print("{0:0.4f}".format(y))

3.4213

In [85]:
print("{0:10.4f}".format(y))

    3.4213

In [86]:
print("{{and}}".format())

{and}

In [88]:
name = "홍길동"
age = 30
print(f'나의 이름은 {name} 입니다. 나이는 {age} 입니다.')

나의 이름은 홍길동 입니다. 나이는 30 입니다.

In [89]:
age = 30
print(f'나는 내년이면 {age+1}살이 된다.')

나는 내년이면 31살이 된다.

In [91]:
d={'name':'홍길동', 'age':30}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [97]:
print(f'"{"hi":<10}"')
print(f'"{"hi":>10}"')
print(f'"{"hi":^10}"')
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')
print(f'{"hi":@>10}')

"hi        "
"        hi"
"    hi    "
====hi====
hi!!!!!!!!
@@@@@@@@hi

In [99]:
y=3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

3.4213
    3.4213

In [100]:
print(f'{{and}}')

{and}

* 나 혼자 코딩 format 함수 또는 f 문자열 포매팅을 사용해 !!!python!!! 문자열을 출력해 보자.

In [106]:
print("{0:!^12}".format("python"))

!!!python!!!