In [3]:
lis = [1, 2, 3, 1, 4, 2, 1]
value = 1
result = []
for i, v in enumerate(lis):
    if v == value:
        result.append(i)
result

[0, 3, 6]

In [4]:
def allindex(lst, value):
    result = []
    for i, v in enumerate(lst):
        if v == value:
            result.append(i)
    return result

In [10]:
lis = [1, 2, 3, 1, 4, 2, 1, 3, 3]
indice = allindex(lis, 3)
print(indice)

[2, 7, 8]

In [14]:

def func(a, b, c):
    print(a, b, c)

x = [1, 2, 4]
func(*x)

1 2 4

In [22]:
def func(*args):
    for i in args:
        print(i, end=" ")
    
func(1)
func(1, 2, 4, 4)

1 1 2 4 4

In [20]:
print(1, 2, 3, 4)

1 2 3 4

In [21]:
print(1, 2, 4)

1 2 4

In [28]:
def func(a, *args):
    print(a, end="")
    for arg in args:
        print(arg, end="")

In [29]:
func(100, 1, 2, 3, 4, 5, 6, 7, 8, 9)

100123456789

In [31]:
def get_index(my_list, v):
    result = []
    for i in range(len(my_list)):
        if my_list[i] == v:
            result.append(i)
    return result

lis = [1, 2, 3, 1, 4, 2, 1]
value = 1
get_index(lis, value)

In [38]:
get_index(v=value, my_list=lis)

[0, 3, 6]

In [39]:
def func(email, name):
    print('이메일 :', email )
    print('이름 :', name)

In [40]:
func('aa@aa.com', 'Tom')

이메일 : aa@aa.com
이름 : Tom

In [41]:
func(email='aa@aa.com', name='Tom')

이메일 : aa@aa.com
이름 : Tom

In [52]:
dict(name1="tom", email="aa@aa.com")

{'name1': 'tom', 'email': 'aa@aa.com'}

In [42]:
func(name="tom", email="aa@aa.com")

이메일 : aa@aa.com
이름 : tom

In [53]:
d = {"name" : "tom", "email": "aa@aa.com"}
d

{'name': 'tom', 'email': 'aa@aa.com'}

In [47]:
func(d, 1)

이메일 : {'name': 'tom', 'email': 'aa@aa.com'}
이름 : 1

In [54]:
func(**d)

이메일 : aa@aa.com
이름 : tom

In [57]:
print(1, 2, 3, sep="*", end="")

1*2*3

In [63]:
def func(email, name, age=20):
    print("이메일 : ", email)
    print("이름 : ", name)
    print("나이 : ", age)

In [59]:
func("aa@aa.com", "tom")

이메일 :  aa@aa.com
이름 :  tom
나이 :  20

In [61]:
func("aa@aaa.com", "tom", age=30)

이메일 :  aa@aaa.com
이름 :  tom
나이 :  30

In [78]:
def calc(oper, *args):
    if oper == "*":
        total = 1
        for i in range(len(args)):
            total *= args[i]
    elif oper == "+":
        total = 0
        for i in range(len(args)):
            total += args[i]
    return total

In [80]:
calc("+", 1, 2, 3, 6, 7)

19

In [74]:
a = [1, 2, 3, 5, 6]

oper = "+"
if oper == "*":
    total = 1
    for i in range(len(a)):
        total *= a[i]
elif oper == "+":
    total = 0
    for i in range(len(a)):
        total += a[i]
        
total

17

In [81]:
eval("100 + 32")

132

In [89]:
def calc(oper,*values):
    total = 1
    for i in range(len(values)):
        str1= str(total)+oper+str(values[i])
        print(str1)
        total =  eval(str1)
    return total
            
calc("*",1,2,3,4, 5, 6, 7)

1*1
1*2
2*3
6*4
24*5
120*6
720*7

5040

In [92]:
def plus_ten(x):
    return x + 10

In [95]:
def func(x):
    return x + 10

In [93]:
plus_ten(10)

20

In [96]:
func = lambda x: x + 10

In [97]:
func(10)

20

In [98]:
(lambda x: x + 10)(10)

20

In [104]:
y = 20

In [105]:
(lambda x : x + y)(10)

30

In [ ]:

def func(x):
    return x + y

In [113]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def f(x):
    if x % 2 == 0:
        return 0
    else:
        return x

In [108]:
temp = []
for item in a:
    temp.append(f(item))
temp

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [ ]:
#map(f, a)
for item in a:
    f(item)

In [114]:
list(map(f, a))

[None, 0, None, 0, None, 0, None, 0, None, 0]

In [111]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
list(map(lambda x: 0 if x % 2 == 0 else x, a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [122]:
a = [2, 6, 4, 3, 6, 8, 3, 9, 6]

In [123]:
temp = []
for item in a:
    if item > 2 and item < 8:
        temp.append(item)
temp

[6, 4, 3, 6, 3, 6]

In [130]:
def f(x):
    return x > 2 and x < 8:

In [129]:
list(filter(f, a))

[6, 4, 3, 6, 3, 6]

In [127]:
list(filter(lambda x : x > 2 and x < 8 , a))

[6, 4, 3, 6, 3, 6]

In [133]:
False == 0

True

In [135]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x : x % 2 == 0, a))

[2, 4, 6, 8, 10]

 list(map(lambda x: 0 if x % 2 == 0 else 1 if x % 3 == 0 else 2, a))

In [141]:
def f(item):
    if item % 2 == 0:
        return 0
    else:
        if item % 3 == 0:
            return 1
        else:
            return 2

In [142]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp = []
for item in a:
    temp.append(f(item))
temp

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [143]:
 list(map(lambda x: 0 if x % 2 == 0 else 1 if x % 3 == 0 else 2, a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [144]:
numbers = [12, 32, 55, 12, 32, 4, 86, 50]

In [145]:
def f(item):
    if item > 60:
        return "합격"
    else:
        if item > 50:
            return "대기"
        else:
            return "불합격"

In [146]:
temp = []
for item in numbers:
    temp.append(f(item))
temp

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '불합격']

In [147]:
list(map( lambda x : '합격' if x > 60 else '대기' if x > 50 else '불합격', numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '불합격']

In [148]:
files =  ["memo.txt", "1.jpg", "32.png", "23.jpg", "223.jpg"]

In [150]:
True == 1

True

In [152]:
False == 0

True

In [154]:
False == 2

False

In [155]:
True == 2

False

In [156]:
for file in files:
    if file.find('jpg') != -1:
        print(file)

1.jpg
23.jpg
223.jpg

In [158]:
list(filter (lambda x : x.find('jpg') != -1, files))

['1.jpg', '23.jpg', '223.jpg']

In [169]:
print('a')
print('a')
print('a')
print('a')
try:
    print(10/0)
    print('b')
except Exception as e:
    print("예외 오류 사항 : ", e)
print('a')
print('a')
print('a')

a
a
a
a
예외 오류 사항 :  division by zero
a
a
a

In [161]:
print(10/0)

ZeroDivisionError: division by zero

In [168]:
x = [1, 2, 3]

try:
#     print(10/0)
    x[5]
except ZeroDivisionError as e:
    print('숫자를 0으로 나눌수 없어요 : ', e)
except IndexError as e:
    print("잘못된 인덱스 입니다 : ", e)

잘못된 인덱스 입니다 :  list index out of range

In [172]:
import numpy as np
np.array([1, 2, 3])

array([1, 2, 3])

In [173]:
import calc

In [174]:
print(calc.add(5, 4))

9

In [175]:
print(calc.sub(5, 4))

1

In [176]:
from calc import add, sub

In [177]:
print(add(5, 4))

9

In [178]:
print(sub(5, 4))

1

In [179]:
from calc import add, sub